{{!-- template-lint-disable no-html-comments no-inline-styles --}}
<div class="vl-modal vl-modal--padding-custom">
  <div class="vl-modal__backdrop"></div>
  <dialog class="vl-modal-dialog vl-modal-dialog--medium" style="display: block;" data-vl-modal="" data-vl-modal-closable="" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" aria-labelledby="modal-toggle-1-title" aria-describedby="modal-toggle-1-description">
    <div class="vlc-navbar vlc-navbar--no-padding vlc-navbar--bordered-bottom">
      <div class="vlc-toolbar">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            <h4 class="vlc-toolbar__title">{{@title}}</h4>
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <button
              type="button"
              class="vl-button vl-button--link-muted vl-button--icon"
              {{on "click" this.close}}
            >
              <i class="vl-button__icon vl-vi vl-vi-close-light" aria-hidden="true"></i>
              <span class="vl-u-visually-hidden">Sluiten</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal content-->
    <div class="vl-modal-dialog__content">
      {{yield}}
    </div>
    <!-- Modal footer-->
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <a class="vl-link" href="" {{on "click" this.cancel capture=true}} data-vl-modal-close="">Annuleer</a>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <div class="vlc-toolbar__item">
          <button
            type="button"
            class={{this.buttonClass}}
            disabled={{or @disabled @loading}}
            onclick={{this.save}}
          >
            {{#if @buttonIcon}}
              <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-{{@buttonIcon}}" aria-hidden="true"></i>
            {{/if}}
            {{@buttonText}}
          </button>
        </div>
      </div>
    </div>
  </dialog>
</div>