<div class="vlc-document-card-item">
  <div class="vlc-document-card-item__title">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h6 class="vl-title vl-title--h6">{{@name}}</h6>
        </div>
        {{#unless @selected}}
          {{#if this.editable}}
            <Kaleidos::DocumentCard::ToolbarItems
              @editable={{this.editable}}
              @locked={{@locked}}
              @downloadLink={{@downloadLink}}
              @downloadable={{@downloadable}}
              @accessLevel={{@accessLevel}}
              @accessLevelOptions={{@accessLevelOptions}}
              @onToggleLock={{@onToggleLock}}
            >
              <!-- <link-list.item><a class="vl-link vl-link--block" {{action this.delete}}>Versie verwijderen</a></link-list.item> -->
            </Kaleidos::DocumentCard::ToolbarItems>
          {{else}}
            <Kaleidos::DocumentCard::ToolbarItems
              @downloadLink={{@downloadLink}}
              @accessLevel={{@accessLevel}}
            />
          {{/if}}
          <div class="vlc-toolbar__item">
            <Wu::Popover @alignment="center" @placement="bottom" @button-icon="show-more-horizontal">
              <Wu::Popover::PopoverLinkList as |ll|>
                {{#if this.downloadable}}
                  <ll.item>
                    <a
                      class="vl-link vl-link--block"
                      href={{@downloadLink}}
                      download
                    >
                      Document downloaden
                    </a>
                  </ll.item>
                {{/if}}
                {{#if this.editable}}
                  <ll.separator/>
                  <ll.item><a class="vl-link vl-link--block vl-u-text--error" {{action @onDeleteVersion}}>Versie verwijderen</a></ll.item>
                {{/if}}
              </Wu::Popover::PopoverLinkList>
            </Wu::Popover>
          </div>

        {{/unless}}
      </div>
    </div>
  </div>
  <div class="vlc-document-card-item__meta">{{moment-format @time "DD MMM YYYY - HH:mm"}}</div>
  <div class="vlc-document-card-item__icon">
    <span class="vl-icon vl-icon--large vl-vi vl-vi-{{if @selected "arrow" "timeline"}}" aria-hidden="true"></span>
  </div>
</div>