<div class="vlc-document-card-item">
  <div class="vlc-document-card-item__title">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h6 class="vl-title vl-title--h6">{{@name}}</h6>
        </div>
        {{#unless @selected}}
          {{#if this.editable}}
            <Kaleidos::DocumentCard::ToolbarItems
              @editable={{this.editable}}
              @locked={{@locked}}
              @downloadLink={{@downloadLink}}
              @downloadable={{@downloadable}}
              @accessLevel={{@accessLevel}}
              @accessLevelStyle={{@accessLevelStyle}}
              @accessLevelOptions={{@accessLevelOptions}}
              @onSaveAccessLevel={{@onSaveAccessLevel}}
              @onToggleLock={{@onToggleLock}}
              @viewable={{@viewable}}
              @onView={{@onView}}
            />
          {{else}}
            <Kaleidos::DocumentCard::ToolbarItems
              @downloadLink={{@downloadLink}}
              @accessLevel={{@accessLevel}}
              @viewable={{@viewable}}
              @onView={{@onView}}
            />
          {{/if}}
          <div class="vlc-toolbar__item">
            <Wu::Popover @alignment="right" @buttonIcon="nav-show-more-horizontal">
              <Wu::Popover::PopoverLinkList as |ll|>
                {{#if this.downloadable}}
                  <ll.item>
                    <a
                      class="vl-link vl-link--block"
                      href={{@downloadLink}}
                      download
                    >
                      Document downloaden
                    </a>
                  </ll.item>
                {{/if}}
                {{#if this.editable}}
                  <ll.separator/>
                  {{!-- template-lint-disable link-href-attributes --}}
                  <ll.item>
                    <a
                      role="button"
                      class="vl-link vl-link--block vl-u-text--error"
                      {{on "click" @onDeleteVersion}}
                    >
                      Versie verwijderen
                    </a>
                  </ll.item>
                  {{!-- template-lint-disable link-href-attributes --}}
                {{/if}}
              </Wu::Popover::PopoverLinkList>
            </Wu::Popover>
          </div>

        {{/unless}}
      </div>
    </div>
  </div>
  <div class="vlc-document-card-item__meta">{{moment-format @time "DD MMM YYYY - HH:mm"}}</div>
  <div class="vlc-document-card-item__icon">
    <span class="vl-icon vl-icon--large vl-vi vl-vi-{{if @selected "arrow" "timeline"}}" aria-hidden="true"></span>
  </div>
</div>