<div
  class={{this.class}}
  {{on-click-outside this.close}}
>
  <button
    type="button"
    class="js-vl-popover__toggle vl-popover__toggle"
    aria-expanded="{{this.isOpen}}"
    {{on "click" (fn (mut this.isOpen) (not this.isOpen))}}
  >
    {{if @showButtonText this.buttonText}}
    <i
      class="vl-vi vl-vi-u-badge vl-vi-u-badge--grey vl-vi-u-badge--small vl-vi-arrow vl-vi-u-90deg"
      aria-hidden="true">
    </i>
    {{#unless @showButtonText}}
      <span class="vl-u-visually-hidden">{{this.buttonText}}</span>
    {{/unless}}
  </button>
  {{!-- template-lint-disable no-inline-styles --}}
  {{!-- Not entirely sure why the position:absolute isn't part of WU CSS --}}
  <div
    class="vl-popover__content {{unless this.isOpen "vl-popover__content--close"}}"
    style={{if this.isOpen "position: absolute;"}}
  >
    {{yield "wu/popover/popover-link-list"}}
    <button
      type="button"
      class="vl-popover__close-btn vl-vi vl-vi-cross"
      tabindex="0"
      {{on "click" this.close}}
    >
      <span class="vl-u-visually-hidden">Close popover</span>
    </button>
  </div>
  {{!-- template-lint-disable no-inline-styles --}}
</div>