<div
  id={{this.uniqueId}}
  class={{this.class}}
>
  <button
    type="button"
    class="js-vl-popover__toggle vl-popover__toggle vl-button vl-button--link vl-button--icon {{@buttonClass}}"
  >
    {{if @showButtonText this.buttonText}}
    <i
      class="vl-vi vl-vi-{{@buttonIcon}} vl-button__icon"
      aria-hidden="true">
    </i>
    {{#unless @showButtonText}}
      <span class="vl-u-visually-hidden">{{this.buttonText}}</span>
    {{/unless}}
    <AttachPopover
      @class="vl-popover__content {{unless this.isOpen "vl-popover__content--close"}}"
      @hideOn="click clickout"
      @showOn="click"
      @onChange={{this.setOpenState}}
      @placement={{this.placement}}
      @popperContainer={{concat "#" this.uniqueId}}
    as |attacher|>
      {{yield "wu/popover/popover-link-list"}}
      {{!-- template-lint-disable no-nested-interactive --}}
      <button
        type="button"
        class="vl-popover__close-btn vl-vi vl-vi-cross"
        tabindex="0"
        {{on "click" (fn attacher.hide)}}
      >
        <span class="vl-u-visually-hidden">Close popover</span>
      </button>
      {{!-- template-lint-enable no-nested-interactive --}}
    </AttachPopover>
  </button>
  {{!-- popover gets rendered here --}}
</div>