<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h1 class="vlc-page-header__title vlc-page-header__title--bordered">
            Agenda van {{moment-format this.meeting.startedAt "DD MMMM YYYY HH:mm"}}
          </h1>
          <div class="vlc-page-header__sub">
            <div class="vlc-toolbar vlc-toolbar--auto">
              <div class="vlc-toolbar__left">
                {{!-- "Terug"-button yields more confusion than anything else
                <div class="vlc-toolbar__item">
                  <a class="vlc-backlink vl-link vl-link--bold" href="/agenda/index.html">
                    <i class="vl-link__icon vl-link__icon--before vl-vi vl-vi-arrow-left-fat" aria-hidden="true"></i>
                    Terug
                  </a>
                </div>
                --}}
                <div class="vlc-toolbar__item">
                  <ul class="vlc-tabs-reverse" role="tablist">
                    <li class="vlc-tabs-reverse__item">
                      <LinkTo
                        @route="agendaitems.index"
                        @model={{this.meeting}}
                        @current-when="agendaitems.index"
                        class="vlc-tabs-reverse__link"
                        @activeClass="vlc-tabs-reverse__link--active"
                        role="tab"
                        aria-selected="true"
                      >
                        Overzicht
                      </LinkTo>
                    </li>
                    {{#if this.meeting.sortedAgendaItems}}
                      <Link
                      @route="agendaitems.agendaitem.index"
                      @model={{this.meeting.sortedAgendaItems.firstObject}} as |l|>
                        {{#if l.isActiveWithoutModels}}
                          <li class="vlc-tabs-reverse__item">
                            <a
                              href="#"
                              class="vlc-tabs-reverse__link vlc-tabs-reverse__link--active"
                            >
                              Detail
                            </a>
                          </li>
                        {{/if}}
                      </Link>
                    {{/if}}
                    <li class="vlc-tabs-reverse__item">
                      <LinkTo
                        @route="meeting.documents"
                        @model={{this.meeting}}
                        class="vlc-tabs-reverse__link"
                        @activeClass="vlc-tabs-reverse__link--active"
                        role="tab"
                        aria-selected="true"
                      >
                        Documenten
                      </LinkTo>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vlc-toolbar__item">
          {{#if this.startedAgendaDistribution}}
            <DistributionStatus
              @entity="Agenda"
              @endpoint={{this.agendaDistributionEndpoint}}
            />
          {{/if}}
          {{#if this.startedNotificationsDistribution}}
            <DistributionStatus
              @entity="Notificaties"
              @endpoint={{this.notificationsDistributionEndpoint}}
            />
          {{/if}}
        </div>
      </div>
      {{#if this.currentSession.canEditAgenda}}
        <div class="vlc-toolbar__right">
          <div class="vlc-toolbar__item">
            <div class="vl-action-group">
              <LinkTo
                @route="agendaitems.new"
                @tagName="button"
                class="vl-button vl-button--narrow vl-button--icon-before"
              >
                <i
                  class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
                ></i>
                Nieuw agendapunt
              </LinkTo>
              <Wu::Popover
                @alignment="right"
                @buttonIcon="nav-down"
                @buttonText="Acties"
                @showButtonText={{true}}
                @iconPlacement="after"
                @buttonClass="vl-button--secondary vl-button--narrow"
              >
                <Wu::Popover::PopoverLinkList as |ll|>
                  {{!-- template-lint-disable link-href-attributes --}}
                  <ll.item>
                    <a
                      class="vl-link vl-link--block"
                      role="button"
                      {{on "click" (fn this.releaseAgenda this.meeting)}}
                    >
                      Agenda Vrijgeven
                    </a>
                  </ll.item>
                  <ll.item>
                    <a
                      class="vl-link vl-link--block"
                      role="button"
                      {{on "click" (fn this.releaseNotifications this.meeting)}}
                    >
                      Notificaties Vrijgeven
                    </a>
                  </ll.item>
                  <ll.separator/>
                  <ll.item>
                    <LinkTo
                      class="vl-link vl-link--block"
                      role="button"
                      @route="meeting.edit"
                      @model={{this.meeting}}
                    >
                      Vergadering Wijzigen
                    </LinkTo>
                  </ll.item>
                  <ll.item>
                    <LinkTo
                      class="vl-link vl-link--block vl-u-text--error"
                      role="button"
                      @route="meeting.delete"
                      @model={{this.meeting}}
                    >
                      Vergadering Verwijderen
                    </LinkTo>
                  </ll.item>
                  {{!-- template-lint-enable link-href-attributes --}}
                </Wu::Popover::PopoverLinkList>
              </Wu::Popover>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>