<Kaleidos::CreationModal
@title="{{if @allowMultiple "Documenten" "Document"}} opladen"
@buttonText="Aanmaken"
@disabled={{not this.documents}}
@loading={{or @loading this.loading}}
@onClose={{fn this.cancel}}
@onCancel={{fn this.cancel}}
@onSave={{fn this.save this.documents}}
>
  {{#if (or @allowMultiple (not this.documents.length))}}
    <Imported::FileUploader
      @uploadedFile={{this.createDocument}}
      @multipleFiles={{@allowMultiple}}
    />
  {{/if}}
  <div class="upload-container">
    {{#each this.documents as |document|}}
      <Imported::EmberKaleidosWebuniversum::VlUploadedDocument
        @name={{document.documentVersions.firstObject.file.filename}}
        @extension={{document.documentVersions.firstObject.file.extension}}
        @size={{document.documentVersions.firstObject.file.size}}
        @downloadLink={{concat document.documentVersions.firstObject.file.downloadLink "?name=" document.documentVersions.firstObject.file.filename}}
        @delete={{fn this.deleteDocument document}}
      >
        <div class="metadata-container">
          <div class="vlc-input-field-block">
            <Imported::WebComponents::VlFormLabel @value="Naam"/>
            <Input class="vl-input-field vl-input-field--block" @value={{document.name}}/>
          </div>
          <div class="vlc-input-field-block">
            <Imported::WebComponents::VlFormLabel @value="Type"/>
            <PowerSelect
              @options={{this.documentTypeOptions}}
              @selected={{document.type}}
              @allowClear={{true}}
              @placeholder="Geen documenttype"
              @onChange={{fn (mut document.type)}} as |type|
              >
              {{type.label}}
            </PowerSelect>
          </div>
        </div>
      </Imported::EmberKaleidosWebuniversum::VlUploadedDocument>
    {{/each}}
  </div>
</Kaleidos::CreationModal>