{{#if (not this.loading)}}
  {{#if (eq this.document.documentVersions.length 1)}}
    <Kaleidos::DocumentCard
      @name={{this.selectedVersion.name}}
      @locked={{this.selectedVersion.confidential}}
      @time={{this.selectedVersion.created}}
      @type={{this.document.type.label}}
      @accessLevel={{this.selectedVersion.accessLevel}}
      @accessLevelStyle={{get-access-level-style this.selectedVersion.accessLevel}}
      @onSaveAccessLevel={{fn this.saveAccessLevel this.selectedVersion}}
      @downloadLink={{this.selectedVersion.downloadLink}}
      @onView={{fn this.view this.selectedVersion}}
      @viewable={{eq this.selectedVersion.file.extension "pdf"}}
      @onToggleLock={{fn this.toggleAccessLevel this.selectedVersion}}
      @onDeleteDocument={{fn this.deleteDocument document}}
      @onDeleteVersion={{fn this.deleteVersion this.selectedVersion}}
      @onUploadVersion={{action (fn (mut this.addingVersion)) true}}
      @accessLevelOptions={{this.accessLevelOptions}}
      @editable={{@editable}}
    />
  {{else if (gt this.document.documentVersions.length 1)}}
    <Kaleidos::DocumentCard
      @name={{this.selectedVersion.name}}
      @locked={{this.selectedVersion.confidential}}
      @time={{this.selectedVersion.created}}
      @type={{this.document.type.label}}
      @accessLevel={{this.selectedVersion.accessLevel}}
      @accessLevelStyle={{get-access-level-style this.selectedVersion.accessLevel}}
      @onSaveAccessLevel={{fn this.saveAccessLevel this.selectedVersion}}
      @downloadLink={{this.selectedVersion.downloadLink}}
      @onView={{fn this.view this.selectedVersion}}
      @viewable={{eq this.selectedVersion.file.extension "pdf"}}
      @onToggleLock={{fn this.toggleAccessLevel this.selectedVersion}}
      @onDeleteDocument={{fn this.deleteDocument document}}
      @onDeleteVersion={{fn this.deleteVersion this.selectedVersion}}
      @onUploadVersion={{action (fn (mut this.addingVersion)) true}}
      @accessLevelOptions={{this.accessLevelOptions}}
      @editable={{@editable}}
      as |VersionCard|>
      {{#each this.document.reverseSortedDocumentVersions as |version|}}
        <VersionCard
          @name={{version.name}}
          @locked={{version.confidential}}
          @time={{version.file.created}}
          @accessLevel={{version.accessLevel}}
          @accessLevelStyle={{get-access-level-style version.accessLevel}}
          @onSaveAccessLevel={{fn this.saveAccessLevel version}}
          @downloadLink={{version.downloadLink}}
          @onView={{fn this.view version}}
          @viewable={{eq version.file.extension "pdf"}}
          @onToggleLock={{fn this.toggleAccessLevel version}}
          @selected={{eq version this.selectedVersion}}
          @onDeleteVersion={{fn this.deleteVersion version}}
          @accessLevelOptions={{this.accessLevelOptions}}
          @editable={{@editable}}
        />
      {{/each}}
    </Kaleidos::DocumentCard>
  {{/if}}
{{else}}
  {{!-- TODO: proper css for document-card loading state --}}
  {{!-- template-lint-disable no-inline-styles --}}
  <div class="vlc-document-card" style="min-height: 85.2pt;">
    <div class="vl-u-align-center"  style="padding-top: 21pt;">
      <div class="vl-loader" role="alert" aria-busy="true"></div>
    </div>
  </div>
{{/if}}

{{#if this.addingVersion}}
  <FileUploadModal
    @didUpload={{this.addVersion}}
  />
{{/if}}
{{#if this.deletingDocument}}
  <Kaleidos::ConfirmationModal
    @title="Document verwijderen"
    @loading={{this.isLoading}}
    @onCancel={{action (mut deletingDocument false)}}
    @onClose={{action (mut deletingDocument false)}}
    @onConfirm={{action "save"}}
    @buttonStyle="error"
    @buttonIcon="bin"
    @buttonText="verwijderen"
    >
    Weet u zeker dat u dit document wil verwijderen?
    <strong>Elke versie van dit document zal verwijderd worden!</strong>
  </Kaleidos::ConfirmationModal>
{{/if}}
{{#if this.deletingVersion}}
  <Kaleidos::ConfirmationModal
    @title="Document verwijderen"
    @loading={{this.isLoading}}
    @onCancel={{action (mut deletingVersion false)}}
    @onClose={{action (mut deletingVersion false)}}
    @onConfirm={{action "save"}}
    @buttonStyle="error"
    @buttonIcon="bin"
    @buttonText="verwijderen"
    >
    Weet u zeker dat u deze versie wil verwijderen?
  </Kaleidos::ConfirmationModal>
{{/if}}