<div class="vlc-input-field-block">
  <div class="vl-grid vl-grid--is-stacked">
    <div class="vl-col--6-12">
      <div class="vlc-input-field-block">
        <Imported::WebComponents::VlFormLabel @value="Voornaam"/>
        <div class="vl-form__input">
          <Input class="vl-input-field vl-input-field--block" @value={{@user.firstName}}/>
        </div>
      </div>
    </div>
    <div class="vl-col--6-12">
      <div class="vlc-input-field-block">
        <Imported::WebComponents::VlFormLabel @value="Familienaam"/>
        <div class="vl-form__input">
          <Input class="vl-input-field vl-input-field--block" @value={{@user.lastName}}/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vlc-input-field-block">
  <Imported::WebComponents::VlFormLabel @value="VO-id"/>
  <div class="vl-form__input">
    <Input
      class="vl-input-field vl-input-field--block"
      placeholder="bv. 0cc0d256-ff3f-4aba-8ab8-5ae05ee9e26e"
      @value={{@user.account.voId}}
    />
  </div>
</div>
<div class="vlc-input-field-block">
  <Imported::WebComponents::VlFormLabel @value="Gebruikersgroep"/>
  <PowerSelect
    @options={{this.accountGroups}}
    @selected={{@user.group}}
    @onChange={{fn this.setAccountGroup}} as |accountGroup|
  >
    {{accountGroup.name}}
  </PowerSelect>
</div>