{{#if this.currentSession.canEditAgenda}}
  <div class="vl-u-spacer--small">
    <div class="vl-action-group vl-action-group--align-right">
      <LinkTo
        @route="agendaitems.agendaitem.edit"
        @tagName="button"
        class="vl-button vl-button--tertiary vl-button--narrow">
        Wijzigen
      </LinkTo>
      <LinkTo
        @route="agendaitems.agendaitem.delete"
        @tagName="button"
        class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before vl-u-text--error"
      >
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-bin" aria-hidden="true"></i>
        Verwijderen
      </LinkTo>
    </div>
  </div>
{{/if}}
<div class="vl-u-spacer--small">
  <div class="vl-u-spacer-extended-bottom-l">
    <div class="vl-u-spacer-extended-bottom-l">
      <div class="vl-u-spacer-extended-bottom-s">
        <h4 class="vl-title vl-title--h4">
          {{this.model.subject}}
        </h4>
      </div>
      <div class="vlc-hr"></div>
      <div class="vl-u-spacer-extended-bottom-s">
        <h4 class="vl-title vl-title--h4">
          Notificatie
        </h4>
      </div>
      <div class="vl-u-spacer-extended-bottom-s">
        {{#if (is-pending this.model.notification)}}
          <Imported::WebComponents::VlLoader
            @text="Notificatie laden"
          />
        {{else if this.model.notification}}
          {{!-- TODO: we get proxy "content" of notification here.
                Because of this, the document card internally re-fetches the document and its relations every time
          --}}
          <DocumentCard
            @document={{get this.model.notification "content"}}
            @editable={{this.currentSession.canEditAgenda}}
          />
        {{else}}
          <Wu::Alert>Nog geen notificatie beschikbaar</Wu::Alert>
        {{/if}}
      </div>
      <div class="vl-u-spacer-extended-bottom-s">
        {{#if this.currentSession.canEditAgenda}}
          {{#if (not this.model.notification)}}
            <button
              type="button"
              class={{concat
                "vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
                (if this.model.notification " vl-button--disabled" "")
              }}
              disabled={{if this.model.notification true null}}
              {{on "click" (fn (mut this.addingNotification) true)}}
            >
              <i
                aria-hidden="true"
                class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
              ></i>
              Notificatie toevoegen
            </button>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="vl-u-spacer-extended-bottom-l">
    <div class="vl-u-spacer-extended-bottom-s">
      <h4 class="vl-title vl-title--h4">
        Documenten
      </h4>
    </div>
    {{#if (is-pending this.model.documents)}}
      <Imported::WebComponents::VlLoader
        @text="Documenten laden"
      />
    {{else if this.model.documents}}
      {{#each (await this.model.documents) as |document|}}
        <div class="vl-u-spacer-extended-bottom-s">
          <DocumentCard
            @document={{document}}
            @editable={{this.currentSession.canEditAgenda}}
            @didDeleteDocument={{this.deleteDocument}}
          />
        </div>
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-bottom-s">
        <Wu::Alert>Nog geen documenten beschikbaar</Wu::Alert>
      </div>
    {{/if}}
    {{#if this.currentSession.canEditAgenda}}
      <button
        type="button"
        class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
        {{on "click" (fn (mut this.addingDocuments) true)}}
      >
        <i
          aria-hidden="true"
          class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
        ></i>
        Documenten toevoegen
      </button>
    {{/if}}
  </div>
</div>
{{#if this.addingDocuments}}
  <DocumentUploadModal
    @allowMultiple={{true}}
    @loading={{this.loading}}
    @defaultDocumentName={{format-item-document-name this.meeting.startedAt this.model.priority this.model.subPriority}}
    @didCancel={{fn (mut this.addingDocuments) false}}
    @didSave={{this.addDocuments}}
  />
{{/if}}
{{#if this.addingNotification}}
  <DocumentUploadModal
    @allowMultiple={{false}}
    @loading={{this.loading}}
    @defaultDocumentName={{format-notification-document-name this.meeting.startedAt this.model.priority this.model.subPriority}}
    @defaultDocumentType={{this.notificationType}}
    @didCancel={{fn (mut this.addingNotification) false}}
    @didSave={{this.addNotification}}
  />
{{/if}}