{{#if currentSession.canEditAgenda}}
  <div class="vl-u-spacer--small">
    <div class="vl-action-group vl-action-group--align-right">
      <LinkTo
        @route="agendaitems.agendaitem.edit"
        @tagName="button"
        class="vl-button vl-button--tertiary vl-button--narrow">
        Wijzigen
      </LinkTo>
      <LinkTo
        @route="agendaitems.agendaitem.delete"
        @tagName="button"
        class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before vl-u-text--error"
      >
        <i class="vl-button__icon vl-button__icon--before vl-vi vl-vi-bin" aria-hidden="true"></i>
        Verwijderen
      </LinkTo>
    </div>
  </div>
{{/if}}
<div class="vl-u-spacer--small">
  <div class="vl-u-spacer-extended-bottom-l">
    <div class="vl-u-spacer-extended-bottom-l">
      <div class="vl-u-spacer-extended-bottom-s">
        <h4 class="vl-title vl-title--h4">
          {{model.subject}}
        </h4>
      </div>
      <div class="vlc-hr"></div>
      <div class="vl-u-spacer-extended-bottom-s">
        <h4 class="vl-title vl-title--h4">
          Notificatie
        </h4>
      </div>
      <div class="vl-u-spacer-extended-bottom-s">
        {{#if (is-pending model.notification)}}
          {{imported/web-components/vl-loader
            text="Notificatie laden"
          }}
        {{else if model.notification}}
          {{!-- TODO: we get proxy "content" of notification here.
                Because of this, the document card internally re-fetches the document and its relations every time
          --}}
          <DocumentCard
            @document={{get model.notification "content"}}
            @editable={{currentSession.canEditAgenda}}
          />
        {{else}}
          <Wu::Alert>Nog geen notificatie beschikbaar</Wu::Alert>
        {{/if}}
      </div>
      <div class="vl-u-spacer-extended-bottom-s">
        {{#if currentSession.canEditAgenda}}
          {{#if (not model.notification)}}
            <button
              class={{concat
                "vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
                (if model.notification " vl-button--disabled" "")
              }}
              disabled={{if model.notification true null}}
              {{action (mut this.addingNotification) true}}
            >
              <i
                aria-hidden="true"
                class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
              ></i>
              Notificatie toevoegen
            </button>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="vl-u-spacer-extended-bottom-l">
    <div class="vl-u-spacer-extended-bottom-s">
      <h4 class="vl-title vl-title--h4">
        Documenten
      </h4>
    </div>
    {{#if (is-pending model.documents)}}
      {{imported/web-components/vl-loader text="Documenten laden"}}
    {{else if model.documents}}
      {{#each (await model.documents) as |document|}}
        <div class="vl-u-spacer-extended-bottom-s">
          <DocumentCard
            @document={{document}}
            @editable={{currentSession.canEditAgenda}}
            @didDeleteDocument={{action "deleteDocument"}}
          />
        </div>
      {{/each}}
    {{else}}
      <div class="vl-u-spacer-extended-bottom-s">
        <Wu::Alert>Nog geen documenten beschikbaar</Wu::Alert>
      </div>
    {{/if}}
    {{#if currentSession.canEditAgenda}}
      <button
        class="vl-button vl-button--tertiary vl-button--narrow vl-button--icon-before"
        {{action (mut this.addingDocuments) true}}
      >
        <i
          aria-hidden="true"
          class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
        ></i>
        Documenten toevoegen
      </button>
    {{/if}}
  </div>
</div>
{{#if this.addingDocuments}}
  <DocumentUploadModal
    @allowMultiple={{true}}
    @loading={{this.loading}}
    @didCancel={{fn (mut this.addingDocuments) false}}
    @didSave={{action "addDocuments"}}
  />
{{/if}}
{{#if this.addingNotification}}
  <DocumentUploadModal
    @allowMultiple={{false}}
    @loading={{this.loading}}
    @defaultDocumentType={{this.notificationType}}
    @didCancel={{fn (mut this.addingNotification) false}}
    @didSave={{action "addNotification"}}
  />
{{/if}}