<div class="vlc-document-card">
  <div class="vlc-document-card__summary">
    <div class="vlc-document-card__badge">
      <div class="vl-badge vl-badge--icon vl-badge--icon-light vl-badge--alt vl-badge--small-medium vl-icon-wrapper">
        <i class="vl-badge__icon vl-vi vl-vi-file" aria-hidden="true"></i>
      </div>
    </div>
    <div class="vlc-document-card__content">
      <div class="vlc-toolbar vlc-toolbar--auto">
        <div class="vlc-toolbar__left">
          <div class="vlc-toolbar__item">
            {{#if this.editingType}}
            {{else}}
              <p class="vlc-subline">{{@type}}</p>
            {{/if}}
          </div>
        </div>
        <div class="vlc-toolbar__right">
          <Kaleidos::DocumentCard::ToolbarItems
            @editable={{this.editable}}
            @locked={{@locked}}
            @onToggleLock={{@onToggleLock}}
            @accessLevel={{@accessLevel}}
            @accessLevelStyle={{@accessLevelStyle}}
            @accessLevelOptions={{@accessLevelOptions}}
            @onSaveAccessLevel={{@onSaveAccessLevel}}
            @downloadLink={{@downloadLink}}
            @viewable={{@viewable}}
            @onView={{action @onView}}
          />
          <div class="vlc-toolbar__item">
            <Wu::Popover @alignment="center" @placement="bottom" @button-icon="show-more-horizontal">
              <Wu::Popover::PopoverLinkList as |ll|>
                {{#if this.downloadable}}
                  <ll.item>
                    <a
                      class="vl-link vl-link--block"
                      href={{@downloadLink}}
                      download
                    >
                      Document downloaden
                    </a>
                  </ll.item>
                {{/if}}
                {{#if this.editable}}
                  <ll.item>
                    <a
                      class="vl-link vl-link--block"
                      role="button"
                      {{action @onUploadVersion}}
                    >
                      Nieuwe versie uploaden
                    </a>
                  </ll.item>
                  <ll.item>
                    <a
                      class="vl-link vl-link--block"
                      role="button"
                       {{action this.startEditingName}}
                    >
                      Documentnaam wijzigen
                    </a>
                  </ll.item>
                  <ll.separator/>
                  <ll.item>
                    <a
                      class="vl-link vl-link--block vl-u-text--error"
                      role="button"
                      {{action @onDeleteVersion}}
                    >
                      Versie verwijderen
                    </a>
                  </ll.item>
                  <ll.item>
                    <a
                      class="vl-link vl-link--block vl-u-text--error"
                      role="button"
                      {{action @onDeleteDocument}}
                    >
                      Document verwijderen
                    </a>
                  </ll.item>
                {{/if}}
              </Wu::Popover::PopoverLinkList>
            </Wu::Popover>
          </div>
        </div>
      </div>
      {{#if this.editingName}}
        <Input class="vl-input-field vl-input-field--block ember-text-field ember-view" type="text"
          @value={{this.bufferedName}}
        />
        <button class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
          {{on "click" (fn this.saveName this.bufferedName)}}
        >
          <i class="vl-vi vl-vi-save vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            Opslaan
          </span>
        </button>
        <button class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle"
          {{on "click" (fn (mut this.editingName) false)}}
        >
          <i class="vl-vi vl-vi-cross vl-button__icon" aria-hidden="true"></i>
          <span class="vl-u-visually-hidden">
            Annuleren
          </span>
        </button>
      {{else}}
        <h6 class="vl-title vl-title--h6">{{@name}}</h6>
      {{/if}}
      <div class="vlc-document-card-content__meta">Geupload op {{moment-format @time "DD.MM.YYYY o\m HH:mm"}}</div>
    </div>
  </div>
  {{#if (has-block)}}
    <div class="vlc-document-card__more">
      <div class="js-vl-accordion {{if this.accordionOpen "js-vl-accordion--open"}}" data-vl-accordion="">
        <button class="vl-toggle vl-link vl-link--bold" data-vl-accordion-toggle="" data-vl-accordion-dressed="true" aria-expanded="true"
          {{action this.toggleAccordion}}>
          <i class="vl-link__icon vl-link__icon--before vl-toggle__icon vl-vi vl-vi-arrow-right-fat" aria-hidden="true"></i>Alle Versies
        </button>
        <div class="vl-accordion__content js-vl-accordion__content" aria-hidden="false">
          <div class="vl-accordion__panel">
            {{yield (component "kaleidos/document-card/item")}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>