{{#unless @locked}}
  <div class="vlc-toolbar__item">
    {{#if this.editable}}
      <Kaleidos::DocumentCard::EditableAccessLevelPill
        @selectedLevel={{@accessLevel}}
        @options={{@accessLevelOptions}}/>
    {{else}}
      <WuExt::Pill
        @style={{if @selected @style}}
      >
        {{#if @accessLevel}}
          {{get @accessLevel "label"}}
        {{else}}
          Geen toegangsniveau
        {{/if}}
      </WuExt::Pill>
    {{/if}}
  </div>
{{/unless}}
<div class="vlc-toolbar__item">
  <button
    class="vl-button vl-button--link-muted vl-button--icon"
    disabled={{not this.editable}}
    {{on "click" this.toggleLock}}
  >
    <i class="vl-button__icon vl-vi {{if @locked "vl-vi-lock vl-u-text--error" "vl-vi-lock-unlock"}}" aria-hidden="true" aria-active="true"></i>
    <span class="vl-u-visually-hidden">Wissel openbaarheid</span>
  </button>
  {{#if @viewable}}
    <a class="vl-button vl-button--link vl-button--icon" href="#" target="_blank" rel="noopener"
      {{this.view}}>
      <i class="vl-vi vl-vi-content-book vl-button__icon" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">Lees document</span>
    </a>
  {{/if}}
</div>
{{yield}}