{{#if this.editing}}
  <div class="vlc-button-toolbar">
    <div class="vl-form__input" style="width:200px">
      <PowerSelect
        @options={{@options}}
        @selected={{this.selectedLevel}}
        @tagName="div"
        @allowClear={{true}}
        @placeholder="Geen toegangsniveau"
        @onChange={{action (mut this.selectedLevel)}} as |level|
        >
        {{get level this.labelKey}}
      </PowerSelect>
    </div>

    <button
      class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle{{if this.loading " vl-button--loading"}}"
      disabled={{this.loading}}
      {{on "click" this.save}}
    >
      <i class="vl-vi vl-vi-save vl-button__icon" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        Opslaan
      </span>
    </button>
    <button
      class="vl-button vl-button--link vl-button--icon js-vl-popover__toggle{{if this.loading " vl-button--loading"}}"
      disabled={{this.loading}}
      {{on "click" this.cancel}}
    >
      <i class="vl-vi vl-vi-cross vl-button__icon" aria-hidden="true"></i>
      <span class="vl-u-visually-hidden">
        Annuleren
      </span>
    </button>
  </div>
{{else}}
  <Wu::Pill
    @clickable={{true}}
    @style={{if this.selectedLevel @style}}
    @onclick={{action this.toggleEditing}}
  >
    {{#if this.selectedLevel}}
      {{get this.selectedLevel this.labelKey}}
    {{else}}
      Geen toegangsniveau
    {{/if}}
  </Wu::Pill>
{{/if}}