{{title (concat "Agenda van " (moment-format this.meeting.startedAt "DD-MM-YYYY"))}}
<AgendaHeader
  @meeting={{this.model}}
/>
<div class="vlc-panel-layout">
  <div class={{this.agendaitemsClass}}>
    <div class="vlc-scroll-wrapper">

      {{!-- TODO: search bar in detail view (component?)}}
      {{!--<div class="vlc-scroll-wrapper__header">
        <div class="vlc-navbar vlc-navbar--bordered-bottom">
          <div class="vlc-input-field-group-wrapper vlc-input-field-group-wrapper--inline">
            <div class="vlc-input-field-group vlc-input-field-group--grow">
              <input class="vl-input-field" type="search" placeholder="Zoeken">
            </div>
            <div class="vlc-input-field-group">
              <button class="vl-button vl-button--tertiary vl-button--icon" type="submit">
                <i class="vl-vi vl-vi-magnifier vl-button__icon" aria-hidden="true"></i>
                <span class="vl-u-visually-hidden">Zoeken</span>
              </button>
            </div>
          </div>
        </div>
      </div>--}}

      <div class="vlc-scroll-wrapper__body">
        <div class={{if (eq this.agendaItemListMode "main") "vl-u-spacer-extended-l"}}>
          <div class={{if (eq this.agendaItemListMode "main") "vl-u-spacer-extended-bottom-l"}}>
            {{#if (is-pending this.model)}}
              <Imported::WebComponents::VlLoader
                @text="Agenda laden ..."
              />
            {{else}}
              <Kaleidos::AgendaItemsList @mode={{this.agendaItemListMode}} as |itemsList|>
                {{#each (await this.agendaItemGroups) as |agendaItemGroup|}}

                  <itemsList.agenda-items-group @title={{format-submitter-names agendaItemGroup.firstObject.submitters}}
                  as |itemsGroup|>
                    {{#each agendaItemGroup as |agendaItem|}}
                      <Link
                        @route="agendaitems.agendaitem"
                        @model={{agendaItem}}
                      as |l|>
                        <itemsGroup.agenda-item
                          @active={{l.isActiveWithoutQueryParams}}
                          @url={{l.href}}
                          @onClick={{l.transitionTo}}
                          @number={{concat agendaItem.priority agendaItem.subPriority "."}}
                          @title={{agendaItem.subject}}
                          @content={{undefined}}
                          @times-passed={{if (is-pending agendaItem.case.identifier) "..." agendaItem.case.identifier}}
                        />
                      </Link>
                    {{/each}}
                  </itemsList.agenda-items-group>
                {{else}}
                  <Wu::Alert>
                    <p>Er zijn nog geen agendapunten.</p>
                  </Wu::Alert>
                {{/each}}
              </Kaleidos::AgendaItemsList>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vlc-panel-layout__main-content">
    {{outlet}}
  </div>
</div>
{{outlet "modal"}}