{{page-title "Vergaderingen"}}
<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h1 class="vlc-page-header__title">
            Vergaderingen
          </h1>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        {{#if this.currentSession.canEditAgenda}}
          <div class="vlc-toolbar__item">
            <LinkTo
              class="vl-button vl-button--narrow vl-button--icon-before"
              @route="meetings.new"
              @tagName="button"
            >
              <i
                class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
              ></i>
              Nieuwe vergadering
            </LinkTo>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    <div class="vl-u-spacer--large">
      <div class="vl-u-spacer--medium">
        {{#if (or this.from this.to)}}
          <ResettableFilterAlert @onReset={{this.clearDateFilter}} />
        {{/if}}
      </div>
      <div class="vl-u-spacer--small">
        <div class="vl-u-display-flex vl-u-flex-space-between">
          <h2 class="vl-title vl-title--h3">
            Vergadering
          </h2>
          <div class="vl-u-spacer-extended-bottom-s">
            <div
              class="vlc-input-field-group-wrapper vlc-input-field-group-wrapper--inline"
            >
              <div
                class="vlc-input-field-group vlc-input-field-group--gmeeting"
              >
                <Input
                  @value={{this.dateFilterField}}
                  @type="search"
                  class="vl-input-field"
                  {{on "enter" this.setDateFilter}}
                />
              </div>
              <div class="vlc-input-field-group">
                <button
                  type="button"
                  class="vl-button vl-button--secondary vl-button--icon"
                  {{on "click" (fn this.setDateFilter this.dateFilterField)}}
                >
                  <i class="vl-vi vl-vi-magnifier"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{#if (gt this.model.length 0)}}
        <div class="vl-u-spacer-extended-bottom-l">
          {{!-- TODO: implement "onClickRow" handler, making sure it *doesn't* fire when the link button is clicked --}}
          <DataTable
            class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
            @content={{this.model}}
            @page={{this.page}}
            @size={{this.size}}
            @sort={{this.sort}}
            @isLoading={{this.isLoadingModel}}
          as |table|
          >
            <table.content as |c|>
              <c.header>
                <ThSortable
                  class="vl-data-table-col-11 vl-data-table__header-title"
                  @currentSorting={{this.sort}}
                  @field="startedAt"
                  @label="Vergadering"
                />
                <th class="vl-data-table-col-1"></th>
              </c.header>
              <c.body as |meeting|>
                <td>
                  {{moment-format meeting.startedAt}}
                </td>
                <td class="vl-u-align-center">
                  <LinkTo
                  class="vl-button vl-button--link vl-button--icon"
                    @route="agendaitems"
                    @model={{meeting.id}}
                  >
                    <i class="vl-button__icon vl-vi vl-vi-nav-right"></i>
                  </LinkTo>
                </td>
              </c.body>
            </table.content>
          </DataTable>
        </div>
      {{else}}
        <Wu::Alert>
          <p>Er zijn nog geen vergaderingen.</p>
        </Wu::Alert>
      {{/if}}
    </div>
  </div>
</div>
{{outlet}}