<div class="vl-region">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content vl-layout vl-layout--wide">
    <div class="vl-col--9-12--s vl-col--5-12--m vl-col--6-12">
      <h2 class="vl-title vl-title--h4 vl-u-spacer">Kies een gebruiker om mee in te loggen.</h2>
      {{!-- <input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" placeholder="Gebruikersnaam..." value={{role}} autofocus oninput={{perform updateSearch value='target.value'}}> --}}
      <MockLogin as |login|>
        {{#if this.queryStore.isRunning}}
          <div class="loader-wrapper">
            <div class="loader">
              <span class="u-visually-hidden">Aan het laden</span>
            </div>
          </div>
        {{else}}
          {{#if login.errorMessage}}
            <WuAlert @title={{this.login.errorMessage}} @isWarning={{true}}/>
          {{/if}}
          <login.each-account
                @accounts={{this.model}}
              as |account|>
            <WuInfoTile class="vl-u-spacer--tiny" as |i|>
              <i.content>
                {{account.user.firstName}} {{account.user.lastName}}
              </i.content>
            </WuInfoTile>
          </login.each-account>
          <NumberPagination
            @page={{this.page}}
            @size={{this.size}}
            @nbOfItems={{this.model.length}}
            @total={{this.model.meta.count}}
            @links={{this.model.meta.pagination}}
            />
        {{/if}}
      </MockLogin>
    </div>
  </div>
</div>