<div class="vl-u-bg-alt">
  <div class="vlc-page-header">
    <div class="vlc-toolbar vlc-toolbar--auto">
      <div class="vlc-toolbar__left">
        <div class="vlc-toolbar__item">
          <h1 class="vlc-page-header__title">
            Gebruikersbeheer
          </h1>
        </div>
      </div>
      <div class="vlc-toolbar__right">
        <LinkTo
          @route="user-management.new-user"
          @tagName="button"
          class="vl-button vl-button--narrow vl-button--icon-before"
        >
          <i
            class="vl-button__icon vl-button__icon--before vl-vi vl-vi-add"
          ></i>
          Gebruiker toevoegen
        </LinkTo>
      </div>
    </div>
  </div>
</div>
<div class="vlc-scroll-wrapper__body">
  <div class="vl-u-spacer-extended-l">
    <div class="vl-u-spacer--large">
      <div class="vl-u-display-flex vl-u-flex-space-between">
        <h2 class="vl-title vl-title--h3">
          Gebruikers
        </h2>
        <div class="vl-u-spacer-extended-bottom-s">
          <div
            class="vlc-input-field-group-wrapper vlc-input-field-group-wrapper--inline"
          >
            <div
              class="vlc-input-field-group vlc-input-field-group--gmeeting"
            >
              <Input
                class="vl-input-field"
                type="search"
                placeholder="Achternaam"
                @value={{filterText}}
                @enter={{action "filterByName"}}
              />
            </div>
            <div class="vlc-input-field-group">
              <button
                class="vl-button vl-button--secondary vl-button--icon"
                type="submit"
                {{on "click" (action "filterByName")}}
              >
                <i class="vl-vi vl-vi-magnifier"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="vl-u-spacer-extended-bottom-l">
        {{#data-table
          content=model
          class="vl-data-table vl-data-table--zebra vl-data-table--align-middle"
          page=page
          size=size
          sort=sort
          isLoading=isLoadingModel as |table|
        }}
          {{#table.content as |c|}}
            {{#c.header}}
              {{th-sortable
                class="vl-data-table-col-1 vl-data-table__header-title"
                currentSorting=sort
                field="firstName"
                label="Voornaam"
              }}
              {{th-sortable
                class="vl-data-table-col-1 vl-data-table__header-title"
                currentSorting=sort
                field="lastName"
                label="Achternaam"
              }}
              {{th-sortable
                class="vl-data-table-col-2 vl-data-table__header-title"
                currentSorting=sort
                field="email"
                label="e-mail"
              }}
              {{th-sortable
                class="vl-data-table-col-3 vl-data-table__header-title"
                currentSorting=sort
                field="account.voId"
                label="VO-id"
              }}
              {{th-sortable
                class="vl-data-table-col-2 vl-data-table__header-title"
                currentSorting=sort
                field="organization.identifier"
                label="OVO-code"
              }}
              <th>
                <PowerSelect
                  @options={{this.userGroups}}
                  @selected={{this.groupFilter}}
                  @onChange={{action this.filterByGroup}}
                  @allowClear={{true}}
                  @placeholder="Filteren op Gebruikersgroep"
                   as |group|
                  >
                  {{group.name}}
                </PowerSelect>
              </th>
              <th></th>
            {{/c.header}}
            {{#c.body as |user|}}
              <td>
                {{user.firstName}}
              </td>
              <td>
                {{user.lastName}}
              </td>
              <td>
                {{if user.email user.email "-"}}
              </td>
              <td>
                {{user.account.voId}}
              </td>
              <td>
                {{#if user.organization}}
                  <a href={{user.organization.subjectPage}}>{{user.organization.identifier}}</a>
                {{else}}
                  -
                {{/if}}
              </td>
              <td class="vl-u-align-center">
                <PowerSelect
                  @options={{this.userGroups}}
                  @selected={{user.group}}
                  @onChange={{fn this.changeGroup user}} as |group|
                  >
                  {{group.name}}
                </PowerSelect>
              </td>
              <td class="vl-u-align-center">
                <button class="vl-button vl-button--link vl-button--icon"
                  {{on "click" (fn this.deleteUser user)}}
                >
                  <i class="vl-vi vl-vi-trash" aria-hidden="true"></i>
                  <span class="vl-u-visually-hidden">
                    Verwijderen
                  </span>
                </button>
              </td>
            {{/c.body}}
          {{/table.content}}
        {{/data-table}}
      </div>
    </div>
  </div>
</div>
{{outlet}}